/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;	
}

/* BASE LAYOUT */

html {
	background-color: white;
	height: 100%;
	min-width:1000px;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: white;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

/* NMI LAYOUT */

/*Main page*/

body {
	background: white;
	color: #333333;
	margin: 0 auto;
	min-height: 100%;
	max-width: auto;  	
}

#Header {
	background-color: #326ca6;
	
	height: 40px;
}

#Header-logo {
	margin-left:auto;
	margin-right:auto;
	width:1020px;	
	text-align:left;
	padding-top:20px;
}

#footer {
	background-color:white;
	color:#666666;
	text-align:center;
	height: 20px;
	-webkit-box-shadow: 0 -6px 6px -6px #888;
	   -moz-box-shadow: 0 -6px 6px -6px #888;
	        box-shadow: 0 -6px 6px -6px #888;	dataSource.url="jdbc:mysql://server/dbname"
dataSource.password="password"
	font-size: 0.8em;
	text-align: center;
	padding-top: 5px;		
   bottom:0;
   width:100%;
   position:absolute;
}

#ContentDiv {
	background-color: white;	
	width:auto;	
	margin-left: auto;
	margin-right: auto;
	min-height: auto;	
}

#page-content {
	background-color: white;		
	width:auto;	
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
}

#customerCreateButton{
	display:none;
}

a:link, a:visited, a:hover {
	color: #707FA1;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #707FA1;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

.excalibrLogo{
	/*float:left;*/
	margin-left:auto;
	margin-right:auto;
	width:auto;	
	text-align:left;
	padding-top:20px;
	float:left;
}

#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
}

.content h1 {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.scaffold-list h1 {
	border: none;
}

.footer {
	background: white;
	position:absolute;
	bottom: 0em;
	color: #666666;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	min-height: 1em;
	min-width: 960px;
	text-align: center;	
}

.footer a {
	color: #666666;
}

.footer h3 {
	color:#666666;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	margin: 1em auto 1em auto;	
}

.spinner {
	position: fixed;	
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;	
	overflow: auto;
	width: 200px; /* width of the spinner gif */
	height: 202px; /*hight of the spinner gif +2px to fix IE8 issue */
}

/* NAVIGATION MENU */

.nav {
		
}

.nav ul {
	padding-top:5px;		
}

.nav li {
	color: #C8C9CC;
	display: block;	
	float: left;
	list-style-type: none;
	margin-right: 0.5em;	
}

.nav a {
	color: #C8C9CC;
	display: block;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #C8C9CC;
}

.nav a:focus, .nav a:hover {
	color: white;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create, .nav a.projects-nav, .nav a.permissions-nav, .nav a.help-nav {
	background-position: -0em center;
	background-repeat: no-repeat;
	text-indent: 25px;
	margin-top:5px;
	margin-left: 10px;
}
	
.nav a.projects-nav{
	background-image: url(../images/skin/projects.png);
}

.nav a.permissions-nav{
	background-image: url(../images/skin/permissions.png);
}

.nav a.help-nav {
	background-image: url(../images/skin/help.png);
}

.nav a.home {
	background-image: url(../images/skin/house.png);
	margin-left:80px;
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

.nav .nmi-logo{
	width:200px;	
	padding-left:10px;
	margin:0 0 0 0;
}
/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 50%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	width:50%;
	margin-left: 27%;
	text-align: left;
}

.customerSelection{
	width: 400px;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

textarea {
	width:70%;
	height:300px;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 100%;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

.fieldTable {	
	
	width: 95%;
	margin: 3em 1em 3em 1.5em;
	border-top: none;
}

.fieldTable:tr {
	border: none;
}

.labelColumn {	
	color: #666666;
	line-height: 1.5em;
	text-align: right;
	width:40%;
	vertical-align: top;
	
}

.valueColumn {
	line-height: 1.5em;
	text-align: left;
	width:50%;
	vertical-align: top;	
}

.fieldTable li {
	list-style: none;
	margin: 0 0 0 0;
	padding:0 0 0 0;
}

.fieldTable ol {
	list-style: none;
	margin: 0 0 0 0;
	padding:0 0 0 0;
}
	
table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 95%;
	margin: 1em 1em 1em 1.5em;	
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #F2F5FA;
}

.even {
	background: white;
}

/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,fieldContainer
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
	padding-left: 36px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}

.repositorySelect {
	
	width: 100%;
	text-align: left;
	padding: 10px 10px 10px 25px;	
}

.groupPermissionDiv{
	float:left;
	width:47%;
	text-align: center;	
	margin-right: 1px;		
}

.userPermissionDiv{
	float:left;
	width:47%;
	text-align: center;		
	margin-left: 1px;
}

p {
	margin:10px 10px 20px 25px;
}

.fieldContainer {
	width: 100%;
	text-align: center;	
}

/*NMI SPECIFIC*/

.excalibrSideNavPanel{
  min-width:200px; 
  height:610px;
  float: left;
  display: inline;
  margin: 0;
  margin-right: 10px;  
  min-height:100%;  
  padding-left:10px;
}

.excalibrSideNavPanel ul {
	overflow: hidden;
	padding-left: 0;
	padding-top:10px;
	zoom: 1;
	border-top: 1px solid #DFDFDF;
	width:200px;
}

.excalibrSideNavPanel h2 {
	color: #707FA1;
	font-weight: normal;
	font-size: 16px;
	margin: 0.8em 0 0.3em 0.8em;	
}

.excalibrSideNavPanel li {
	color:#707FA1;
	float: left;
	list-style-type: none;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
	margin-right:100px;
	font-size: 14px;
	width:100%;
}

.excalibrSideNavPanel a:focus, .excalibrSideNavPanel a:hover {
	color: #707FA1;
	outline: none;	
}

.excalibrSideNavPanel a.home, .excalibrSideNavPanel a.list, .excalibrSideNavPanel a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.excalibrSideNavPanel a.home {
	background-image: url(../images/skin/folder.png);
}

.excalibrSideNavPanel a.list {
	background-image: url(../images/skin/database_table.png);
}

.excalibrSideNavPanel a.create {
	background-image: url(../images/skin/database_add.png);
}

.no-borderradius .excalibrSideNavPanel a:focus, .no-borderradius .excalibrSideNavPanel a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.excalibrMainContent {	
	padding-top:40px;
	padding-left:auto;
	padding-right:auto;
	margin-left:auto;
	margin-left:auto;
	min-height:700px;
	text-align:center;	
	float:left;
	border-left:1px solid gray;
}

.excalibrContent{	
	margin-left:10px;	
	max-width:1150px;
	padding:10px 10px 10px 10px;
	min-height:600px;
	text-align:left;				
}

.excalibr-footer {
	background-color:white;
	color:#666666;
	text-align:center;
	height: 20px;
	-webkit-box-shadow: 0 -6px 6px -6px #888;
	   -moz-box-shadow: 0 -6px 6px -6px #888;
	        box-shadow: 0 -6px 6px -6px #888;	
	font-size: 0.8em;
	text-align: center;
	float:right;
	padding-top: 5px;		
   bottom:0;
   width:100%;   
}

/* ACTION BUTTONS */

.excalibr-buttons {		
	overflow: hidden;	
	border: none;
	text-align:center;	
}

.excalibr-buttons input,.excalibr-buttons submit, .excalibr-buttons a {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	background-color: transparent;
	height:36px;
	padding-top:7px;
	border: 0;
	color: white;
	cursor: pointer;
	display: inline-block;	
	overflow: visible;
	text-decoration: none;
	width:100%;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.excalibr-buttons a {
	height:30px;
	padding-top:12px;	
}

.ie6 .excalibr-buttons input.delete, .ie6 .excalibr-buttons input.edit, .ie6 .excalibr-buttons input.save,
.ie7 .excalibr-buttons input.delete, .ie7 .excalibr-buttons input.edit, .ie7 .excalibr-buttons input.save {
	padding-left: 36px;
}

.excalibr-buttons .actionButton{
	width:125px;
	background-repeat: no-repeat;
	background-color: #009de0;
	border: 1px solid #326ca6;
	
}

.excalibr-buttons .editPermissions{
	width:220px;
	background-repeat: no-repeat;
	background-color: #009de0;
	border: 1px solid #326ca6;
	background-image: url(../images/arrow.png);
	background-position: 200px;
	
}

.excalibr-buttons .actionButton:hover, .excalibr-buttons .actionButton:focus, .excalibr-buttons .editPermissions:hover, .excalibr-buttons .editPermissions:focus {	
	color: #E0E0E0 ;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.loginDetails{		
	float:right;
	color: #C8C9CC;
	padding-right:10px;
	text-align:left;
}

.loginDetails p {		
	font-size: 12px;
	float:left;
	margin: 0 0 0 0;
	padding:9px 5px 0px 5px;
}

.loginDetails h3 {		
	font-size: 14px;
	float:left;
	padding:9px 5px 0px 5px;
	margin: 0 0 0 0;
}

.loginDetails a {
	padding:7px 5px 0px 5px;
	margin: 0 0 0 0;
	color: #C8C9CC;
	display: block;
	float:left;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.loginDetails a:active, .loginDetails a:visited {
	color: #C8C9CC;
}

.loginDetails a:focus, .loginDetails a:hover {
	color: white;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}